.container {
  box-sizing:border-box;
  width: 72%;
  margin: 0 auto;

  .main {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100% * (2/3);
  } // .main
  .profile {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 100% * (1/3);
  } // .profile
} // .container
